/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
    --accent-color-1: #320b00;
    --accent-color-2: #2e0000bd;
    --accent-color-3: #460808;
    --accent-color-4: #00000003;
    --accent-color-5: #ba7035;
    --accent-color-6: #794500;
    --accent-color-7: #4b3e38;

    --high-contrast-color: #fff;
    --low-contrast-color: #000;

    --space-unit: 1.5rem;
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

body, html {
    background-color: var(--accent-color-1);
    color: var(--high-contrast-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .2rem;
    line-height: 1.5;
    margin: 0;
    scroll-behavior: smooth;
    word-spacing: .075rem;
}

footer {
    background-color: var(--accent-color-2);
    bottom: var(--space-unit);
    position: fixed;
    right: var(--space-unit);
}

form {
    display: flex;
    flex-direction: column;
    margin: var(--space-unit);
    width: 100%;
}

form div {
    margin-bottom: 1rem;
}

h1 {
    color: var(--high-contrast-color);
    font: 7.5rem 'Arizonia', 'Montserrat', sans-serif;
    margin: 0 0 2rem 0;
}

img {
    object-fit: cover;
}

input[type="email"], input[type="text"], textarea {
    background-color: var(--accent-color-3);
    border: none;
    color: var(--high-contrast-color);
    font-family: inherit;
    margin-bottom: 1rem;
    padding: 1rem;
}

input[type="submit"] {
    background-color: transparent;
    margin-left: auto;
}

label {
    margin-right: var(--space-unit);
}

p {
    margin: 1rem;
}

/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.button {
    border: .05rem solid var(--high-contrast-color);
    border-radius: 0;
    color: var(--high-contrast-color);
    cursor: pointer;
    padding: .75rem;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.button:focus, .button:hover {
    background-color: var(--high-contrast-color);
    color: var(--low-contrast-color);
}

.centered {
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.chevron {
    background-color: var(--accent-color-1);
    border: .05rem solid var(--accent-color-6);
    border-radius: 50%;
    bottom: -1.25rem;
    padding: .6rem .6rem .1rem .6rem;
    position: absolute;
    width: 2.5rem;
}

.flex {
    display: flex;
}

.font-s {
    font-size: small;
}

.font-l {
    font-size: x-large;
}

.hidden {
    height: 0;
    overflow: hidden;
}

.scale-anim {
    transition: transform .2s ease-in-out;
}

.scale-anim:focus, .scale-anim:hover {
    transform: scale(1.15);
}

.social-media {
    margin: .5rem .5rem 0 .5rem;
    width: 2rem;
}

.text-background {
    background: linear-gradient(
        90deg,
        var(--accent-color-4),
        var(--accent-color-2),
        var(--accent-color-2),
        var(--accent-color-2),
        var(--accent-color-4)
    );
    padding: .75rem 10rem;
}

.transition {
    background: linear-gradient(
        #00000000,
        #000000,
        #00000000);
    bottom: -5rem;
    height: 10rem;
    position: absolute;
    width: 100%;
}

/* -------------------------------------------------
    Identifier styles
   ------------------------------------------------- */

#about {
    background-image: url('/src/assets/img/bg-about.jpg');
    background-position: bottom;
    border-top: .05rem solid var(--accent-color-6);
    height: 60vh;
    position: relative;
    text-align: center;
}

#booking {
    background-image: url('/src/assets/img/bg-booking.jpg');
    background-position: center;
    height: 60vh;
}

#contact {
    border-top: .05rem solid var(--accent-color-6);
    height: 60vh;
}

#contact img {
    object-position: top;
    width: 33.33%;
}

#home div:first-child {
    background-image: url('/src/assets/img/bg-home.jpg');
    background-position: center;
    height: 70vh;
    position: relative;
}

#home div:first-child div {
    background-color: var(--accent-color-2);
    border-bottom: .05rem solid var(--accent-color-6);
    border-top: .05rem solid var(--accent-color-6);
    bottom: 0;
    color: var(--accent-color-5);
    padding: 1rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

#home div:last-child img {
    height: 30vh;
    object-position: top;
    width: 33.33%;
}

#home div:last-child img:nth-child(2) {
    border-left: .05rem solid var(--accent-color-7);
    border-right: .05rem solid var(--accent-color-7);
}

/* -------------------------------------------------
    Shared styles
   ------------------------------------------------- */

* {
    box-sizing: border-box;
}